<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.blog.user.dao.ArticleMapper">
    <select id="findByDate" resultType="Article">
        <!-- 如果函数得params为空，该参数就不用出现在上述；返回如果是列表那么resultType只写元素的类型-->
        select * from article order by Date desc
    </select>
</mapper>